.App {
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  text-align: center;
}

html{
  background-color: #444444
}

video {
  width: 100%;
  background: #000000;
}

.webcam {
  max-height: 85vh;
  max-height: calc(var(--vh, 1vh) * 85);
  height: 85vh;
  height: calc(var(--vh, 1vh) * 85);
  width: 100%;  
}

.photo-button-bg {
  max-height: 15vh;
  max-height: calc(var(--vh, 1vh) * 15);
  height: 15vh;
  height: calc(var(--vh, 1vh) * 15);
  margin-top:-5px;
}

.photo-button {
  height:100%;
}

.activate {
  margin-top: 30vh;
}

.activateCameraButton {
  width: 128px;
  height: 128px;
}
.activateCameraText {
color:#DDDDDD;
}
